*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    min-height: 100vh;
}

  a {
    color: #5ef791;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  
  nav {
    background-color: #fff;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
  }

  nav ul li {
      text-align: center;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.4s;
  } 

  nav ul li a:hover {
    color: #5ef791;
  }

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    background-color: #3ee577;
    background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);
}

.intro-section h1 {
    font-size: 5rem;
}

.intro-items {
    margin: 0 auto 20px;
}

.intro-section p {
    font-size: 1.5rem;
}

.intro-section:hover {
    cursor: pointer;
}

#intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: fadeInDown 0.5s
}

.fa-bolt {
  animation: change-background 6s ease infinite;
}

#wait-div-invis {
    height: 100%;
    width: 100%;
}

#wait-div {
    background-color: rgb(218, 35, 35);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    user-select: none;
}

#click-div {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.fa-hand {
    
}

.fa-thumbs-up {

}

#time-div {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;
}

#result-div {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result-div , i, h1, p {
    margin-bottom: 40px;
}

.save-try-btns{
    padding: 1rem;
    width: 150px;
    font-size: 1.1em;
    border-radius: .3em;
    box-shadow: 2px 2px 5px black;
    background-color: black;
    color: #5ef791;
    cursor: pointer;
}

#saveBtn {
    margin-right: 10px;
}

#earlyClick-div {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;
}

.bottom-section {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

  .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%;
}

.column {
  display: flex;
  margin-top: 80px;
  padding: 2rem;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column footer {
  text-align: right;
  margin-top: 50px;
  font-family: sans-serif;
}

.column footer a:link {
  text-decoration: none;
  color: blue;
  font-size: 15px;
}

.left-side {
  background-color: #fff;
  height: 60vh;
  border-radius: 10px;
}

.left-side h1 {
  text-align: center;
  font-family: sans-serif;
}

.left-side li {
  font-family: sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin-top: 40px;
  padding-left: 5px;
}

.right-side {
  background-color: #fff;
  height: 60vh;
  border-radius: 10px;
}

.right-side h1 {
    text-align: center;
    font-family: sans-serif;
}

.right-side p {
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;
  padding: 1rem;
}

#footer-info {
  font-family: sans-serif;
  padding: 10px;
}
  
  @media only screen and (max-width: 1148px) {
    .left-side {
       height: 80vh;
       width: 70vh;
    }
    .right-side {
        height: 80vh;
        width: 70vh;
    }
  }

  @keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    } 
  
    @-webkit-keyframes fadeInDown {
      0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
      }
      100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  
  }

  @keyframes change-background {
    0% {
      color :#000000;
    }
    50% {
      color: rgba(95, 95, 95, 0.534);
    }
    100% {
      color : #000000;
    }
  }